/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #592411;
  --accent-color: #4f4f4f;
  --footer-color: #F9D247;
  --pink-background: #BA3779;
  --button-color: #592411;
  --wit-color: #ffffff;
  --zwart-kleur: #333333;
  --rodebutton-color: #C33D3F;

}


body {
  text-transform: uppercase;
}

article img,
section img {
  width: 100%;
}


h1{
  background-color: white;
  opacity: 50%;
  padding: 1em;
}

p a img{
  width: 20%;
}

p a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--rodebutton-color);
  border: 1px solid var(--button-color);
  height: 3em;
  border-radius: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2em;

}

h2 img{
  width: 20%;
}

h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  
}

li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

article button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: var(--wit-color);
  border: 1px solid var(--button-color);
  height: 4.5em;
  
  text-transform: uppercase;
  font-size: 1.3em;
  
  width: 80vw;
  
}

button img {
  height: 2em;
}



/*
display: inline-block;
  border: solid 1p;
  background: var(--wit-color);
  text-decoration: none;
  border-radius: 1.5em;
  text-transform: uppercase;
  */


article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* article 2= kerstmis verpakking */
section:nth-of-type(2) article:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/mmkerstboom.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  height: calc(100vw - 3em);
  width: calc(100vw - 1em);
  margin: 1.5em;
}

/* article 3= verjaardag*/
section:nth-of-type(2) article:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/mmpaarsoranje.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  height: calc(100vw - 3em);
  width: calc(100vw - 1em);
  margin: 1.5em;
}

/* article 4= loveyou*/
section:nth-of-type(2) article:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/mmloveyou.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  height: calc(100vw - 3em);
  width: calc(100vw - 1em);
  margin: 1.5em;

}

/* article 4= loveyou
article:nth-of-type(4) {
  background-image: url("../images/mmzakje.jpeg");

}*/


/*article 5= perfecte geschenk*/
article:nth-of-type(5){
  background-image: url("../images/vallendemms.png");

}

/*article 6= hartje*/
article:nth-of-type(6){
  background-image: url("../images/mmhart.jpeg");
}

section:nth-of-type(5) {
  background-color: var(--pink-background);

}

section:nth-of-type(5) article {
  background-image: none;
}


