/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #592411;
  --accent-color: #4f4f4f;
  --footer-color: #F9D247;
  --pink-background: #BA3779;
  --button-color: #592411;

}

body {
  text-transform: uppercase;
}

article img,
section img {
  width: 100%;
}


article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* article 1= hoofd kop */
article:nth-of-type(1) {
  background-image: url("../images/kerstverpakking.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}


/* article 2= kerstverpakking*/
article:nth-of-type(2) {
  background-image: url("../images/mmkerstboom.jpeg");
}

/* article 3= verjaardag*/
article:nth-of-type(3) {
  background-image: url(https://cdn-tp4.mozu.com/26445-m2/cms/files/ba081692-ee05-4bfc-b4de-3c39ac6bd307?maxWidth=548&quality=80);
}

/* article 4= loveyou*/
article:nth-of-type(4) {
  background-image: url(https://cdn-tp4.mozu.com/26445-m2/cms/files/151cfc91-2257-4526-9695-4d259f93d7cb?maxWidth=548&quality=80);
}

/* article 5= perfecte geschenk
article:nth-of-type(5){
  
}*/

/* article 6= hartje
article:nth-of-type(6){
  background-image: url(https://cdn-tp4.mozu.com/26445-42107/cms/42107/files/a0a61052-6205-4bf8-a029-f0ca50eeddeb?_mzcb=_1604095260977&maxWidth=500);
}*/

section:nth-of-type(5) {
  background-color: var(--pink-background);

}

section:nth-of-type(5) article {
  background-image: none;
}


button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--button-color);
  height: 3em;
  border-radius: 1.5em;
  text-transform: uppercase;

}

button img {
  height: 2em;
}