/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #592411;
  --accent-color: #4f4f4f;
  --footer-color: #F9D247;
  --pink-background: #BA3779;
  --button-color: #592411;
  --wit-color: #ffffff;
  --zwart-kleur: #333333;
  --rodebutton-color: #C33D3F;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  background-color: white;
}

header nav{
  position: fixed;
  left: 0;
  top:0;
  bottom: 0;
  right: 0;
  transform: translateX(-100%);
  background-color: white;
  z-index: 2;
  width: 100vw;

  margin-top: 3.1em;
}

header nav ul li a{
  line-height: 2em;
  text-decoration: none;
}
 
/* HAMBURGER MENU */
ul{
  margin: 0;
  padding: 0;
}

/* Ontwerp je eigen mm's*/
header nav ul li:first-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin: 1em 2em 0 2em;
  color: var(--main-color);
  font-weight: bold;
}

header nav ul li:first-of-type img:nth-of-type(1){
  width: 20%;
}

header nav ul li:first-of-type img:nth-of-type(2){
  width: 10%;
  margin-left: 1em;
}

/* Onze producten*/
header nav ul li:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin: 1em 0 0 2em;
  color: var(--main-color);
  font-weight: bold;
}

header nav ul li:nth-of-type(2) img:nth-of-type(1){
  width: 20%;
}

header nav ul li:nth-of-type(2) img:nth-of-type(2){
  width: 10%;
  margin-left: 5em;
}

/* Events en Ideeen*/
header nav ul li:nth-of-type(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin: 1em 0 0 2em;
  color: var(--main-color);
  font-weight: bold;
}

header nav ul li:nth-of-type(3) img:nth-of-type(1){
  width: 20%;
}

header nav ul li:nth-of-type(3) img:nth-of-type(2){
  width: 10%;
  margin-left: 5.5em;
}

/* Ervaar MMS*/
header nav ul li:nth-of-type(4) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin: 1em 0 0 2em;
  color: var(--main-color);
  font-weight: bold;
  
}

header nav ul li:nth-of-type(4) img:nth-of-type(1){
  width: 20%;
}

header nav ul li:nth-of-type(4) img:nth-of-type(2){
  width: 10%;
  margin-left: 6.4em;
}

/* Bedrijfsruimte*/
header nav ul li:nth-of-type(5) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin: 1em 0 0 2em;
  color: var(--main-color);
  font-weight: bold;
  color: var(--main-color);

}

header nav ul li:nth-of-type(5) img:nth-of-type(1){
  width: 20%;
}

header nav ul li:nth-of-type(5) img:nth-of-type(2){
  width: 10%;
  margin-left: 5.5em;
}

/* Schrijf u in*/
header nav ul li:nth-of-type(6){
  display: flex;
  justify-content: center;

  margin-top: 1.5em;
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: var(--accent-color);
  text-align: center;
}

/*Account aanmaken butten*/
header nav ul li:nth-of-type(7){
  display: flex;
  justify-content: center;

  margin-top: 1.5em;
  padding: .5em 0 .5em 0;

  background-color: var(--main-color);
  border-radius: 2.5em;

  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: var(--wit-color);
}

/*heeft u al account*/
header nav ul li:nth-of-type(8){
  display: flex;
  justify-content: center;

  margin-top: 1.5em;
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: var(--accent-color);
  text-align: center;
}

/*inloggen*/
header nav ul li:nth-of-type(9){
  display: flex;
  justify-content: center;

  margin-top: .5em;
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: var(--accent-color);
  text-align: center;
  text-decoration: underline;
}

/*status bestelling*/
header nav ul li:nth-of-type(10){
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  background-color: #f9f9f9;

  margin-top: 1.5em;
  padding: 1em 1em 1em 1em;
  
  font-family:'Roboto', sans-serif;
  font-size: smaller;

  color: var(--accent-color);
  text-align: center;
}

header nav ul li:nth-of-type(10) img:nth-of-type(1){
  width: 10%;
  margin-right: .5em;
}

/*nederland*/
header nav ul li:nth-of-type(11){
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  background-color: #f9f9f9;
  padding: 1em 1em 1em 1em;
  
  font-family:'Roboto', sans-serif;
  font-size: smaller;

  color: var(--accent-color);
  text-align: center;
}

header nav ul li:nth-of-type(11) img:nth-of-type(1){
  width: 10%;
  margin-right: .5em;
}

.menu-open{
  transform: translateX(0%);
	transition: 0.5s;
}

main{
  margin: 0;
  padding: 0;
}

body {
  text-transform: uppercase;
}

.logo{
  width: 20%;
}

/* button voor over de afbeeldingen*/
button{
  border: none;
  background-color: white;
}

button img {
  height: 2em;
}

h1,
h2,
h3,
button,
p,
a{
  font-family:'Roboto', sans-serif;
  color: var(--main-color);
}

article img,
section img {
  width: 100%;
}

article button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: var(--wit-color);
  border: 1px solid var(--button-color);
  height: 4.5em;
  
  text-transform: uppercase;
  font-size: 1.3em;
  
  width: 80vw;
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* alles binnen "Een uniek cadeau voor een magisch kerstfeest" */
h1{
  margin-top: 4em;
  background-color: white;
  opacity: 70%;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

main section:nth-of-type(1) article:nth-of-type(1){
  background-image: url("../images/roodgroenmm.jpeg");
}

section:nth-of-type(1) article:nth-of-type(1) p a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 3em 0 3em;
  
  height: 3em;
  background-color: var(--rodebutton-color);
  border-radius: 1.5em;
  
  text-transform: uppercase;
  text-decoration: none;
  color: var(--wit-color);
}

/* alles vanaf KERSTVERPAKKING - VERJAARDAG - LOVEYOU VERPAKKING  */

/* article 2= kerstmis verpakking */
section:nth-of-type(2) article:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/mmkerstboom.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: calc(100vw - 3em);
  width: calc(100vw - 1em);
  margin: 0 0 5em 0;
}

section:nth-of-type(2) article:nth-of-type(1) button {
  margin-top: 15em;
  padding: 1em 1em 1em 1em;
  border: none;
  box-shadow: 0px 20px 30px #0000001A;
  background-color: white;
}

/* article 3= verjaardag*/
section:nth-of-type(2) article:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/mmpaarsoranje.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  height: calc(100vw - 3em);
  width: calc(100vw - 1em);
  margin: 1.5em 0 5em 0;
}

section:nth-of-type(2) article:nth-of-type(2) button {
  margin-top: 15em;
  padding: 1em 1em 1em 1em;
  border: none;
  box-shadow: 0px 20px 30px #0000001A;
  background-color: white;
}

/* article 4= loveyou*/
section:nth-of-type(2) article:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/mmloveyou.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  height: calc(100vw - 3em);
  width: calc(100vw - 1em);
  margin: 1.5em 0 5em 0;
}

section:nth-of-type(2) article:nth-of-type(3) button {
  margin-top: 15em;
  padding: 1em 1em 1em 1em;
  border: none;
  box-shadow: 0px 20px 30px #0000001A;
  background-color: white;
}



/* SECTION 3 -- alles vanaf "Maak het persoonlijk"  */
h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2em;
}

/* SECTION 3 -- Kies je kleuren - Personaliseer - Kies je verpakking */
h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}

h3 span:first-of-type{
  margin-right: 1em;
  border-radius: 100%;
  background-color: var(--main-color);
  padding: .5em .8em .5em .8em;
  color: var(--wit-color);
}
h3 span{
  margin-right: 1em;
  border-radius: 100%;
  background-color: var(--main-color);
  padding: .5em .5em .5em .5em;
  color: var(--wit-color);
}

section:nth-of-type(3){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section:nth-of-type(3) h2 img{
  width: 25%;
  margin: 0 0.5em 0 0.8em;
}  

section:nth-of-type(3) ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section:nth-of-type(3) ul img{
  width: 25%;
  margin: 0 0.8em 0 1em;
}

section:nth-of-type(3) ul li img{
  width: 50%;
  height: auto;
}

section:nth-of-type(3) p{
  text-align: center;
}

section:nth-of-type(3) a{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border: .1em solid var(--accent-color);
} 

section:nth-of-type(3) a img{
  width: 10%;
}

p a img{
  width: 20%;
}

/* SECTION 4 -- Speciale gelegenheid*/

li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section:nth-of-type(4) h2{
  margin: 1.5em 0 .5em .5em;
}

section:nth-of-type(4) a{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  border: .1em solid var(--accent-color);
} 

section:nth-of-type(4) img{
  width: calc(100vw - 1em);
  margin-top: .5em;
}

section:nth-of-type(4) a img{
  width: 10%;
}

section:nth-of-type(4) p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


/* SECTION 5 -- Perfecte geschenk*/


/*vallende mmns net roze achtergrond*/
section:nth-of-type(5) {
  background-color: var(--pink-background);
  padding-bottom: 3em;
  margin-top: 3em;
}

section:nth-of-type(5) article:nth-of-type(1){
  display: flex;
  flex-direction: row;
}

section:nth-of-type(5) article:nth-of-type(1) h2{
  color: var(--wit-color);
  line-height: 1em;
  
  display: flex;
  justify-content: flex-end;
}

section:nth-of-type(5) article:nth-of-type(1) img{
  width: 35%;
  margin-top: -1.7em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

section:nth-of-type(5) article:nth-of-type(2) a{
  background-color: var(--wit-color);
  border-radius: 2em;
  padding:  .5em .8em .5em .8em ;
  color: var(--pink-background);
  margin: 0 0 .5em 1em;
}

section:nth-of-type(5) article:nth-of-type(3){
  background-color: var(--wit-color);
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em 1.5em 1em 1.5em;
  padding-bottom: 1em;
}

section:nth-of-type(5) article:nth-of-type(3) img{
  width: 80vw;
  margin-top: 2em;
}

section:nth-of-type(5) article:nth-of-type(3) a{
  width: fit-content;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--wit-color);
  border-radius: 1.5em;
  border: 1px solid var(--accent-color);
}

section:nth-of-type(5) article:nth-of-type(3) a img{
  width: 10%;
  margin-top: .2em;
}

section:nth-of-type(5) article:nth-of-type(5){
  background-image: url("../images/vallendemms.png");
}

/*hartje*/
section:nth-of-type(5) article:nth-of-type(6){
  background-image: url("../images/mmhart.jpeg");
}


section:nth-of-type(5) article {
  background-image: none;
}


/* SECTION 6 -- Gele MM met achtergrond*/
section:nth-of-type(6){
  background-image: url("../images/mmachergrond.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 2em 1em 2em 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section:nth-of-type(6) img{
  width: 75%;
  margin-bottom: 2em;
}

section:nth-of-type(6) a{
  background-color: var(--button-color);
  border-radius: 2.5em;

  padding: 1em 1.5em 1em 1.5em;

  font-size: 1.2em;
  font-weight: bold;
  color: var(--wit-color);
}

/* SECTION 7 -- Berlin*/
section:nth-of-type(7){
  background-image: url("../images/berlin.jpeg");
  background-size: cover;
  height: calc(100vw);
  width: calc(100vw - 1em);
  object-fit: fill;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  
  padding-bottom: 1.5em;
}

section:nth-of-type(7) a{
  background-color: var(--button-color);
  border-radius: 2.5em;

  padding: 1em 1.5em 1em 1.5em;

  font-size: 1.2em;
  font-weight: bold;
  color: var(--wit-color);
}

/* SECTION 8 -- Zij vertrouwen op ons*/
section:nth-of-type(8) img{
 /* display: flex;
  justify-content: center;
  align-items: center;*/
  
  width: 60%;
  margin-left: 4em;
  margin-bottom: 2em;
}

/* FOOTER - Section 9 */
footer section{
  background-color: var(--footer-color);
}

footer section article{
  display: flex;
  flex-direction: column;
}

footer section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(1){
  font-weight: bold;
  color: var(--main-color);
  margin-left: 1em;
}

footer section:nth-of-type(1) article:nth-of-type(1) p:nth-of-type(2){
  color: var(--accent-color);
  margin-left: 1em;
  text-transform: initial;
}

/* FOOTER - input email */
footer section:nth-of-type(1) article:nth-of-type(1) form{
    display: flex;

}

footer section:nth-of-type(1) article:nth-of-type(1) form input{
  border: none;
  border-radius: 2em;
  outline: none;
  
  margin: 0.5em 1em 1em 1em;
  padding: 1em 1em 1em 1em;    
  
  background: var(--wit-color);
  font-size: 1em;
}

footer section:nth-of-type(1) article:nth-of-type(1) form img{
  display: flex;
  justify-content: flex-end;
  
  width: 2.5em;
  height: auto;
  border-radius: 100%;
  padding: .5em; 
  margin: .5em;

  background-color: var(--wit-color);
  
}

/* FOOTER - algemeen */
footer section:nth-of-type(1) article:nth-of-type(2) summary{
  margin: .5em 0 .5em 1em;
  list-style-type: none;

  color: var(--main-color);
  font-weight: bold;
  font-family:'Roboto', sans-serif;
}

footer section:nth-of-type(1) article:nth-of-type(2) summary img{
  width: 5%;
  margin-right: 1em;
}

footer section:nth-of-type(1) article:nth-of-type(2) button{
  display: flex;
  justify-content: flex-start;
  
  background-color: #f9f9f9;
  color: #68b631 ;
  border: 1px solid #68b631;
  font-size: .8em;
  text-transform: lowercase;
  padding: 0 .5em 0 .5em;

  width: fit-content;
}


/* FOOTER - klantenservice - over ons - privecybeleid */
footer section:nth-of-type(1) article:nth-of-type(2) details ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

footer section:nth-of-type(1) article:nth-of-type(2) details summary  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* FOOTER - uitklap kiezen land */
footer section:nth-of-type(1) article:nth-of-type(3) form{
  border: none;
  border-radius: 2em;
  outline: none;
  
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;    
  
  background: var(--wit-color);
  font-size: 1em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer section:nth-of-type(1) article:nth-of-type(3) form select{
  border: none;
  font-family:'Roboto', sans-serif;
  font-size: 1em;
  color: var(--accent-color);

  padding-left: 1em;
}

footer section:nth-of-type(1) article:nth-of-type(3) form img{
  width: 10%;
  
}

footer section:nth-of-type(1) article:nth-of-type(3) p{
  font-weight: bold;
  margin-left: 1em;
}

/* FOOTER - volg ons */
footer section:nth-of-type(1) article:nth-of-type(4){
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer section:nth-of-type(1) article:nth-of-type(4) img:nth-of-type(1){
  width: 10%;
  background-color: var(--wit-color);
  border-radius: 2em;
  margin: 0 .5em 0 1em;
  padding: .5em .5em .5em .5em;
}

footer section:nth-of-type(1) article:nth-of-type(4) img:nth-of-type(2){
  width: 10%;
  background-color: var(--wit-color);
  border-radius: 2em;
  padding: .5em .5em .5em .5em;
}

/* FOOTER - bottom tekst */
footer section:nth-of-type(1) article:nth-of-type(5) {
  margin: 4em 0 .5em 1em;
}


footer section:nth-of-type(1) article:nth-of-type(5) img{
  width: 4%;
}

footer section:nth-of-type(1) article:nth-of-type(5) p{
  color: var(--accent-color);
  font-size: smaller;
  text-transform: initial;
}






/* ///////////////////////////////////////////////

              WINKELWAGEN PAGINA

////////////////////////////////////////////////


.winkelwagen main section:first-of-type h1{
  font-size: 2em;
  margin-top: 1.5em;
  padding: .5em;
  opacity: 100%;
  text-align: left;
}

.winkelwagen main section:first-of-type p{
  font-size: small;
  text-transform: initial;
  text-align: center;
}

.winkelwagen main section:first-of-type a{
  background-color: var(--footer-color);
  font-weight: bold;
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 3em;
}*/
 

/*algemene styling GRID*/

/*grid voor de colom*/
.winkelwagen main section:first-of-type article:nth-of-type(1) ul{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 45vw);


}

.winkelwagen main section:first-of-type h1{
  font-size: 2em;
  margin-top: .5em;
  padding: .5em;
  opacity: 100%;
  text-align: left;
}

.winkelwagen main section:first-of-type article:nth-of-type(1){
  background-image: none;
}

/*versierde kerstboom verpakking 400g*/ 
.winkelwagen main section:first-of-type h2{
  margin: 1em 0 1em 0em;
  font-size: small;
  font-weight: normal;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}


/*COLOM RECHTS 2*/ 

/*versier u mms in blauw*/ 
.winkelwagen main section:first-of-type article:nth-of-type(1) ul li img{
  width: 55%;
  height: 40%;
}

.winkelwagen main section:first-of-type a:first-of-type{
  color: turquoise;
  text-decoration: underline;
  font-size: smaller;
  margin-top: 1em;
}

.winkelwagen main section:first-of-type button{
  width: 40%;
  height: 10%;
  background-color: lightgray;
  border: none;
  margin-top: 2em;
}

.winkelwagen main section:first-of-type input{
  width: 40%;
}

.winkelwagen main section:first-of-type article:first-of-type ul li:last-of-type p:last-of-type{
  text-transform: initial;
}

.winkelwagen main section:first-of-type a:last-of-type{
  color: red;
  text-decoration: underline;
  font-size: small;
}


/*COLOM RECHTS 1*/
.winkelwagen main section:first-of-type article:first-of-type ul li{
  text-align: left;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.winkelwagen main section:first-of-type article:first-of-type ul h2{
  font-size: 1em;
  font-weight: bold;
}

.winkelwagen main section:first-of-type article:first-of-type ul li:first-of-type p:first-of-type{
  color: var(--accent-color);
  text-transform: initial;
  font-size: smaller;
  margin: 0;
}
